.reverse-inner {
    padding: 5em 5em 3em 5em ;
    max-width: 100%;
    width: 75em;
    text-align: right;
}

@media screen and (max-width: 1680px) {

    .reverse-inner {
        padding: 4em 4em 2em 4em ;
    }

}

@media screen and (max-width: 1280px) {

    .reverse-inner {
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    .reverse-inner {
        padding: 3em 2em 1em 2em ;
    }

}

/* Reverse text */
.reverse-text {
    direction: rtl;
    unicode-bidi: bidi-override;
}
