/* Navigation */

.container {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    justify-content: flex-end;
}

.reverse-right {
    right: 0;
    left: auto;
}

/* ====================================================================================================================
    Content
=====================================================================================================================*/

/* Reverse Intro */

#reverse_intro {
    background-attachment: fixed;
    background-image: url("../../images/reverse_artboard.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#reverse_intro p {
    font-size: 1.25em;
}

@media screen and (max-width: 980px) {

    #reverse_intro p br {
        display: none;
    }

}

@media screen and (max-width: 1280px) {

    #reverse_intro {
        background-attachment: scroll;
    }

}

/* Wrapper */

.wrapper > .reverse-inner {
    padding: 5em 5em 3em 5em ;
    max-width: 100%;
    width: 75em;
    text-align: right;
}

@media screen and (max-width: 1680px) {

    .wrapper > .reverse-inner {
        padding: 4em 4em 2em 4em ;
    }

}

@media screen and (max-width: 1280px) {

    .wrapper > .reverse-inner {
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    .wrapper > .reverse-inner {
        padding: 3em 2em 1em 2em ;
    }

}

/* Reverse text */
.reverse-text {
    direction: rtl;
    unicode-bidi: bidi-override;
}
