.sw-dark-red, .sw-hover-dark-red:hover {color: #fffafa !important; background-color: #662228 !important;}
.sw-crimson, .sw-hover-crimson:hover {color: #222222 !important; background-color: #dc143c !important;}
.sw-red, .sw-hover-red:hover {color: #222222 !important; background-color: #ff2400 !important;}
.sw-orange, .sw-hover-orange:hover {color: #222222 !important; background-color: #ffa500 !important;}
.sw-gold, .sw-hover-gold:hover {color: #222222 !important; background-color: #ffd700 !important;}
.sw-yellow, .sw-hover-yellow:hover {color: #222222 !important; background-color: #ffef00 !important;}
.sw-pastel-yellow, .sw-hover-pastel-yellow:hover {color: #222222 !important; background-color: #fdfd96 !important;}
.sw-pastel-green, .sw-hover-pastel-green:hover {color: #222222 !important; background-color: #77dd77 !important;}
.sw-lime, .sw-hover-lime:hover {color: #222222 !important; background-color: #9acd32 !important;}
.sw-light-green, .sw-hover-light-green:hover {color: #222222 !important; background-color: #1da237 !important;}
.sw-green, .sw-hover-green:hover {color: #222222 !important; background-color: #2f9254 !important;}
.sw-dark-green, .sw-hover-dark-green:hover {color: #fffafa !important; background-color: #005221 !important;}
.sw-navy, .sw-hover-navy:hover {color: #fffafa !important; background-color: #17325a !important;}
.sw-dark-blue, .sw-hover-dark-blue:hover {color: #bcc6cc !important; background-color: #1f3fa4 !important;}
.sw-blue, .sw-hover-blue:hover {color: #fffafa !important; background-color: #3b77ac !important;}
.sw-light-blue, .sw-hover-light-blue:hover {color: #222222 !important; background-color: #74bbfb !important;}
.sw-pastel-blue, .sw-hover-pastel-blue:hover {color: #222222 !important; background-color: #a4c3d5 !important;}
.sw-aqua, .sw-hover-aqua:hover {color: #222222 !important; background-color: #73fbf7 !important;}
.sw-pink, .sw-hover-pink:hover {color: #222222 !important; background-color: #ffc0cb !important;}
.sw-magenta, .sw-hover-magenta:hover {color: #222222 !important; background-color: #ff00ff !important;}
.sw-red-violet, .sw-hover-red-violet:hover {color: #222222 !important; background-color: #c71585 !important;}
.sw-violet, .sw-hover-violet:hover {color: #fffafa !important; background-color: #800080 !important;}
.sw-deep-violet, .sw-hover-deep-violet:hover {color: #fffafa !important; background-color: #5e2d79 !important;}
.sw-black, .sw-hover-black:hover {color: #bcc6cc !important; background-color: #111111 !important;}
.sw-brown, .sw-hover-brown:hover {color: #fffafa !important; background-color: #3a2b1e !important;}
.sw-tan, .sw-hover-tan:hover {color: #222222 !important; background-color: #e9cda7 !important;}
.sw-snow, .sw-hover-snow:hover {color: #222222 !important; background-color: #fffafa !important;}
.sw-white, .sw-hover-white:hover {color: #222222 !important; background-color: #ffffff !important;}
.sw-light-grey, .sw-hover-light-grey:hover {color: #222222 !important; background-color: #ecebe9 !important;}
.sw-titanium, .sw-hover-titanium:hover {color: #222222 !important; background-color: #909090 !important;}
.sw-dark-grey, .sw-hover-dark-grey:hover {color: #fffafa !important; background-color: #5b6067 !important;}
.sw-blue-silver, .sw-hover-blue-silver:hover {color: #222222 !important; background-color: #839ca5 !important;}
.sw-silver, .sw-hover-silver:hover {color: #222222 !important; background-color: #c0c0c0 !important;}
.sw-metallic-silver, .sw-hover-metallic-silver:hover {color: #222222 !important; background-color: #bcc6cc !important;}
.sw-ice-silver, .sw-hover-ice-silver:hover {color: #222222 !important; background-color: #c5d4e1 !important;}

.sw-text-dark-red, .sw-hover-text-dark-red:hover {color: #662228 !important;}
.sw-text-crimson, .sw-hover-text-crimson:hover {color: #dc143c !important;}
.sw-text-red, .sw-hover-text-red:hover {color: #ff2400 !important;}
.sw-text-orange, .sw-hover-text-orange:hover {color: #ffa500 !important;}
.sw-text-gold, .sw-hover-text-gold:hover {color: #ffd700 !important;}
.sw-text-yellow, .sw-hover-text-yellow:hover {color: #ffef00 !important;}
.sw-text-pastel-yellow, .sw-hover-text-pastel-yellow:hover {color: #fdfd96 !important;}
.sw-text-pastel-green, .sw-hover-text-pastel-green:hover {color: #77dd77 !important;}
.sw-text-lime, .sw-hover-text-lime:hover {color: #9acd32 !important;}
.sw-text-light-green, .sw-hover-text-light-green:hover {color: #1da237 !important;}
.sw-text-green, .sw-hover-text-green:hover {color: #0b8832 !important;}
.sw-text-dark-green, .sw-hover-text-dark-green:hover {color: #005221 !important;}
.sw-text-navy, .sw-hover-text-navy:hover {color: #17325a !important;}
.sw-text-dark-blue, .sw-hover-text-dark-blue:hover {color: #1f3fa4 !important;}
.sw-text-blue, .sw-hover-text-blue:hover {color: #3b77ac !important;}
.sw-text-light-blue, .sw-hover-text-light-blue:hover {color: #74bbfb !important;}
.sw-text-pastel-blue, .sw-hover-text-pastel-blue:hover {color: #a4c3d5 !important;}
.sw-text-aqua, .sw-hover-text-aqua:hover {color: #73fbf7 !important;}
.sw-text-pink, .sw-hover-text-pink:hover {color: #ffc0cb !important;}
.sw-text-magenta, .sw-hover-text-magenta:hover {color: #ff00ff !important;}
.sw-text-red-violet, .sw-hover-text-red-violet:hover {color: #c71585 !important;}
.sw-text-violet, .sw-hover-text-violet:hover {color: #800080 !important;}
.sw-text-deep-violet, .sw-hover-text-deep-violet:hover {color: #5e2d79 !important;}
.sw-text-black, .sw-hover-text-black:hover {color: #222222 !important;}
.sw-text-brown, .sw-hover-text-brown:hover {color: #3a2b1e !important;}
.sw-text-tan, .sw-hover-text-tan:hover {color: #e9cda7 !important;}
.sw-text-snow, .sw-hover-text-snow:hover {color: #fffafa !important;}
.sw-text-white, .sw-hover-text-white:hover {color: #ffffff !important;}
.sw-text-light-grey, .sw-hover-text-light-grey:hover {color: #ecebe9 !important;}
.sw-text-titanium, .sw-hover-text-titanium:hover {color: #909090 !important;}
.sw-text-dark-grey, .sw-hover-text-dark-grey:hover {color: #5b6067 !important;}
.sw-text-blue-silver, .sw-hover-text-blue-silver:hover {color: #839ca5 !important;}
.sw-text-silver, .sw-hover-text-silver:hover {color: #c0c0c0 !important;}
.sw-text-metallic-silver, .sw-hover-text-metallic-silver:hover {color: #bcc6cc !important;}
.sw-text-ice-silver, .sw-hover-text-ice-silver:hover {color: #c5d4e1 !important;}

.sw-border-dark-red, .sw-hover-border-dark-red:hover {color: #662228 !important;}
.sw-border-crimson, .sw-hover-border-crimson:hover {color: #dc143c !important;}
.sw-border-red, .sw-hover-border-red:hover {color: #ff2400 !important;}
.sw-border-orange, .sw-hover-border-orange:hover {color: #ffa500 !important;}
.sw-border-gold, .sw-hover-border-gold:hover {color: #ffd700 !important;}
.sw-border-yellow, .sw-hover-border-yellow:hover {color: #ffef00 !important;}
.sw-border-pastel-yellow, .sw-hover-border-pastel-yellow:hover {color: #fdfd96 !important;}
.sw-border-pastel-green, .sw-hover-border-pastel-green:hover {color: #77dd77 !important;}
.sw-border-lime, .sw-hover-border-lime:hover {color: #9acd32 !important;}
.sw-border-light-green, .sw-hover-border-light-green:hover {color: #1da237 !important;}
.sw-border-green, .sw-hover-border-green:hover {color: #2f9254 !important;}
.sw-border-dark-green, .sw-hover-border-dark-green:hover {color: #005221 !important;}
.sw-border-navy, .sw-hover-border-navy:hover {color: #17325a !important;}
.sw-border-dark-blue, .sw-hover-border-dark-blue:hover {color: #1f3fa4 !important;}
.sw-border-blue, .sw-hover-border-blue:hover {color: #3b77ac !important;}
.sw-border-light-blue, .sw-hover-border-light-blue:hover {color: #74bbfb !important;}
.sw-border-pastel-blue, .sw-hover-border-pastel-blue:hover {color: #a4c3d5 !important;}
.sw-border-aqua, .sw-hover-border-aqua:hover {color: #73fbf7 !important;}
.sw-border-pink, .sw-hover-border-pink:hover {color: #ffc0cb !important;}
.sw-border-magenta, .sw-hover-border-magenta:hover {color: #ff00ff !important;}
.sw-border-red-violet, .sw-hover-border-red-violet:hover {color: #c71585 !important;}
.sw-border-violet, .sw-hover-border-violet:hover {color: #800080 !important;}
.sw-border-deep-violet, .sw-hover-border-deep-violet:hover {color: #5e2d79 !important;}
.sw-border-black, .sw-hover-border-black:hover {color: #222222 !important;}
.sw-border-brown, .sw-hover-border-brown:hover {color: #3a2b1e !important;}
.sw-border-tan, .sw-hover-border-tan:hover {color: #e9cda7 !important;}
.sw-border-snow, .sw-hover-border-snow:hover {color: #fffafa !important;}
.sw-border-white, .sw-hover-border-white:hover {color: #ffffff !important;}
.sw-border-light-grey, .sw-hover-border-light-grey:hover {color: #ecebe9 !important;}
.sw-border-titanium, .sw-hover-border-titanium:hover {color: #909090 !important;}
.sw-border-dark-grey, .sw-hover-border-dark-grey:hover {color: #5b6067 !important;}
.sw-border-blue-silver, .sw-hover-border-blue-silver:hover {color: #839ca5 !important;}
.sw-border-silver, .sw-hover-border-silver:hover {color: #c0c0c0 !important;}
.sw-border-metallic-silver, .sw-hover-border-metallic-silver:hover {color: #bcc6cc !important;}
.sw-border-ice-silver, .sw-hover-border-ice-silver:hover {color: #c5d4e1 !important;}